body {
    margin: 25px 70px;
    font: 1em/1.73em Verdana,Arial,Geneva,Helvetica,sans-serif;
    background: #fff;
}

p + p,
span + p,
p + span
    {
  text-indent: 1.5em;
  margin-top: .25em}

.clusterlink img {
    position: absolute;
    right: 0;
    margin-right: 7.5em;
    margin-top: 1em;
}
a:link     {color:#610B0B}
a:visited  {color:#610B0B}
a:hover    {color:#B45F04}

table {border: 0px solid green;}


table.result {
    /*background-color: #F8ECE0;*/
    background-color: #F7ECD4;
    border: 2.5px solid white;
    width:100%;
}

table td { font: 1em/1.73em Verdana,Arial,Geneva,Helvetica,sans-serif; }

table td.source { 
    font: 0.75em/1.73em Verdana,Arial,Geneva,Helvetica,sans-serif;
    padding: 2px 5px 0px 5px;
    min-width:550px;
    /*color:#61380B;*/
    color:gray;
    text-align: center;
}

table .matches {
    width:100%;
}

table td.matches {
    border-bottom: 3.5px solid white;
    padding: 0px 5px 2px 5px;
}

a.titlelink {
    background: url(../images/EncDat-title.png) no-repeat;
    width: 600px; height: 90px;
    display: block;
}
ul.toplinks {
    float:right;
    background:transparent;
    margin: 0 60px 0 400px;
}
ul.toplinks li {
    float:left;
    background:transparent;
    padding: 0 5px;
    font-size:11px;
    line-height:13px;
    color: maroon;
    border-right:1px solid maroon;
}

ul.toplinks li a {
    float:right;
    background:transparent;
    color: maroon;
}
.clusterlink {
    background:transparent;
    float:left;
    margin-left:600px;
    border-style:none;
}

#content {
    padding: 5px 15px;
    margin: 0px;
    border: 2px solid #FFAD00;
    border-radius: 10px;
    moz-border-radius: 10px;
}

.query-form {
    margin-bottom: 10px;
}

.query-form select {
    margin-left: 1.1em;
    margin-right: 1em;
}

.query-form button {
    margin-left: 1em;
}

#results {
    /* margin: 10px 190px 0 0; */
    padding: 0 10px;
}

.entry-body {
    margin-top: 10px;
}
.entry-outer-body {
    width:100%;
    min-width:600px;
    position:relative;
}
.container_16 {
    min-width:800px;
	background:#fff;

}

#facets {
    /* float: right; */
    /* width: 180px; */
    font-size: 85%;
}

.facet-check {
    margin-right: .5em;
}

.facet-list {
    overflow: auto;
    margin-left: -1em;
}

.facet-search {
    text-align: left;
}

.facet ul {
    list-style: none;
    padding: 0;
}
.facet-links {
    margin-left: 2em;
    display: none;
    font-size: 85%;
}
.facet-links a:link, .facet-links a:visited {
    text-decoration: none;
    color: #BBBBBB;
}
#clear-facets {
    display: block;
    text-align: right;
    padding-right: 8px;
}

.tabs {
    list-style: none;
    margin: 0 0 -2px 0;
    padding: 0 0 0 15px;
    height: 30px;
}

.tabs li {
    display: inline;
    margin: 0;
    padding: 0;
}

.tabs a:link, .tabs a:visited {
    display: block;
    float: left;
    font: normal 12px "Courier New", Courier, monospace;
    font-style: normal;
    text-decoration: none;
    color: black;
    background: #FCEEB1;
    border: 2px solid #FFAD00;
    /* box-shadow: 7px 1px 10px #d1cfd1;
    -moz-box-shadow: 7px 1px 10px #d1cfd1;
    -webkit-box-shadow: 7px 1px 10px #d1cfd1;*/
    border-radius: 10px 10px 0px 0px;
    -moz-border-radius: 10px 10px 0px 0px;
    -webkit-border-radius: 10px 10px 0px 0px;
    padding: 6px 20px;
    cursor: pointer;
    margin: 0 auto;
}

.tabs a:link.active, .tabs a:visited.active {
    background: white;
    color: #6e6e6e;
    border-bottom: 2px solid white;
}

.entry-view {
    /* margin: 10px 200px 0 0; */
}

.entry-view td {
    padding: 4px 8px 4px 8px;
    margin: 4px 8px;
    background-color: #FEF8E0;
}

.entry-view .label {
    background-color: #FCEEB1;
    font-size: 125%;
}

#navbar { 
    background-color: #FFAD00;
    padding: 4px 8px; 
    font-size: 85%;
    color: white; 
    text-align: center;
    border-bottom: 3px solid white;    
    }

.L-block a:hover {
    background:#fff;
}

.L-block ul {
    font-size: 85%;
}

.cat-name { 
    font-weight:bold; 
    color: orange;
    margin-right: .5em;
    }

a.cat-value-deep-link:hover,

a.entry-derect-link:hover{ color:blue; background-color:#fff; text-decoration:underline; }

.browse-grid table, .browse-boxes {
    font-size: 85%;
}

.browse-grid table th {
    text-align: left;
    background-color:#FCEEB1;
}

#toolbar { margin: 0; padding: 10px 8px; background-color: #FFAD00; }
#toolbar li { list-style: none; display: inline; }
#toobar img { border: 0; }

.panel {
    border: 2px solid #FFAD00;
    border-radius: 15px;
    moz-border-radius: 15px;
    margin: 0; 
}
    
.panel form { padding: 10px 8px; }

.dochead {
    color: #BBBBBB;
    font-size: 85%;
}

.indicator { display: block; margin-left: auto; margin-right: auto; }

.current-selection { font-size: 85%; margin: 0 8px; padding: 4px 0; }
.selection { color: #133CAC; }

h1, h2, h3, h4, h5, h6, .block { 
    /*margin-left: 60px;*/ 
}

.edit { font-size: 85%; float: left; }

.orth {
    font-weight: bold;
}

.smallcaps {
    font-variant: small-caps;
}

.italic {
    font-style: italic;
}

.hi {
    /*background-color: #FFED3D;*/
    /*background-color: #FFF2D5;*/
    background-color: #FEF8E0;
    text-align: center;
    vertical-align: middle;
}

.previous{
    width: 43%;
    text-align: right;
    vertical-align: middle;
    padding-right: .5em;
}
.following {
    width: 47%;
    vertical-align: middle;
    padding-left: .5em;
}

.matches tr + tr {
    border-top: 1px solid white;
}

.matches a {text-decoration: none;
}

.ref:link, .ref:visited { color: #3DFF8C; }
.term:link, .term:visited { color: #133CAC; }
.place, .place:link, .place:visited { color: #FF7800; }
.place, .person:link, .person:visited { color: #864E00; }
.people, .people:link, .people:visited { color: #864E00; }
.period, .period:link, .period:visited { color: #FF0DD4; }

.facet h3 {color: black;} /*prevent coloring of facet labels*/

.edit-link { padding-left: .25em; font-size: 75%; vertical-align: super; 
    text-decoration: none; font-weight: normal; }

.kwic { width: 100%; padding: 10px 8px; }
.kwic .hi { /*is this used?*/
    padding: 8px 10px;
    text-align: center;
    vertical-align: middle;
}

.kwic .previous { text-align: right; }/*is this used?*/

.ui-button-text { font-size: 85%; }

#inline-toolbar { background-color: #F7F7F7; padding: 4px; border: 1px solid black; }

.annotation { padding-left: .5em; }

#annotations {
    padding: 10px; margin: 5px; border: 4px solid #C2CCC1;
    border-radius: 15px;
    moz-border-radius: 15px;
/*    background-color: #F2FFE1;*/
}

.editor { margin: auto 25px; }
.editor table { width: 100%; }
.editor table .label { font-weight: bold; width: 100px; }
.comment-btns { margin: 0 25px; }

.hidden { display: none; }
/*.wym_box { width: 100%; }*/
.feedref { margin: 0 25px; color: #555; }
.atom-entry { margin: 15px 25px; padding-bottom: 10px; border-bottom: 1px solid #CCC; }
.feed h1, .atom-entry h2 { font-family: 'Droid Sans',Arial,sans-serif; }
.atom-entry h2 { margin-bottom: 4px; }
.anchor { font-size: 75%; }
.date { font: 0.83em Tahoma,Verdana,Helvetica,Arial,sans-serif; color: #A8A7A7; margin-bottom: 1em; }

.tooltip {
    display:none;
    font-size:12px;
    width:180px;
    height: 105px;
    padding: 10px 0px;
    background: transparent url(../images/white_arrow_big.png) no-repeat;
    text-align: center;
    z-index: 3;
}

.tooltip h4 { margin: 8px 10px; }

.L-block li {  line-height:1.3em; margin-bottom:.5em;}

.tableborder {border: 1px solid black;}

#buffer {
    position:relative;
    display:block;
    width:100%; height:120px;
    border:0px solid red;
}

#buffer-if-no-image {
    position:relative;
    display:block;
    width:100%; height:60px;
    border:0px solid red;
}

#buffer2 {
    position:relative;
    min-width:850px;
    overflow:visible;
    border:2px solid blue;
}
.pb {   
    color:#444444; /* color:#cd853f; */ 
    width:98%;
    left:0;
    margin: 20px 10px 0 10px;
    position:absolute;
    text-align:center;
    border-top:3px solid #cd853f;
    clear:both;
    height:30px;
    display:block;   
}
.rh {   
    color:#444444; /* color:#cd853f; */  
    margin: -96px 0 80px 0px;
}

.figure { 
    max-width:800px; 
    max-height:800px;
    border: 0px solid red; 
    display:block; 
    font-size:12px;
    line-height:14px;
    margin-bottom:10px;
}
.facsimile { 
    position:relative;
    float:right;
    height:84px;
    border: 1px solid #cd853f; 
    display:block; 
    margin: 0px 0 20px 0;
}
/* .facsimile:hover { 
    height:800px; 
    border: 1px solid #cd853f; 
    display:block; 
} */

.columnbreak {
    width:300px;
}

/* Kaja: for welcome site on home  */
.hometable td {
	border:1px solid white;
	padding: 2px 2px 10px 2px;
}
.hometable h5 {
    color:#c6810a;
}
.hometablecaption td {
	background-color: #765C5C;
	border:1px solid white;
	color: #FFFFF2;
}

.cwelcome {
	background-color: #fff;
}
.c1 {
	background-color: #FFE5cc;
}
.c2 {
	background-color: #FFF2e5;
}
.c3 {
	background-color: #FFFFee;
}
.cellcaption {
	color: #7F6666;
}
.middle {
	text-align: center;
}

div.pageview{  
    width:100%;
    height:100px;
    float:right;
    display:block; 
    position:relative;  
    margin: -30px 0 0 0; 
    /*background:#FFFFFF; */
    z-index:5;
    right:0;
    border:0px solid pink;
} 

div.osize{
    float:right;
    width:88px;
    height:84px;
    font-size:small;
    border: 1px solid #cd853f;
    border-left:none;
    background:#ffffee;
    text-align:center;
    color:#cd853f;
}

a.osize{
    color:inherit;
    text-decoration:none;
    float:right;
    width:44px;
}
a.osize:hover{
    color:#ffffee;
    background:#cd853f;
}

div.buttons{
    float:right;
    width:44px;
    font-size:small;
    /*font-weight:bold;*/
    border: 0px solid #cd853f;
    background:#ffffee;
    color:#cd853f;
}

div.buttons:hover{
    cursor:pointer;
    background:#cd853f;
    color:#ffffee;
}

a.close{
    /*position:relative;*/
    /*margin:15px;*/
    display:none;
    text-align:center;
}

a.scale{
    /*margin:15px;*/
    display:block;
    text-align:center;
}
ul.toclist {
    background-color: #ffffee;
    padding:20px;
}

ul.toclist li  {
    margin-left:40px;
    border-bottom:1px solid #F6E3CE;
}
ul.toclist li ul li ul {
    margin-left:40px;
    font-size:smaller;
}
ul.toclist {
    margin-left:40px;
    font-size:20px;
    border:1px solid orange;
    width:650px;
}
ul.toclist li.level1  {margin-left:0px;   font-size:larger; font-weight:bold;}
ul.toclist li.level2  {margin-left:40px;  font-size:larger;}
ul.toclist li.level3  {margin-left:80px;  font-size:medium;}
ul.toclist li.level4  {margin-left:120px; font-size:small;}
ul.toclist li.level5  {margin-left:160px; font-size:x-small;}
ul.toclist li.level6  {margin-left:200px; font-size:x-small;} 



/* non-unicode characters .png-file display size */

img.non-unicode-char{
    height:20px;
    width:20px;
}




/* Kaja changes after sending to Wolfgang on July 27, 2012 */

.contentdesc {
    background-color: #fffff3;
    border:1px solid orange;
    padding:20px;
}
.contentdesctitle {
    float:right;
    color:#B45F04;
}

.textdescription {
    font-weight:normal;
    text-decoration:none;
    color:#C5AE82;
    
}
.typeName {
    font-weight:normal;
    text-decoration:none;
    color:#C5AE82;
    margin-left:20px;
}
.textinfo {
    position:absolute;
    margin-top:-26px;
    margin-left:0px;
    width:15px;
    height:20px;
    border:1px solid #C5AE82;
    background-color:white;
    display:block;
    overflow:hidden;
}
.textinfo:hover {
   width:auto;
   overflow:visible;
}
.noteresp {
    width:10px;
    height:18px;
    border:1px solid #C5AE82;
    background-color:white;
    display:inline-block;
    overflow:hidden;
    font-size:smaller;
    color:#b45f04;
    vertical-align:super;
    position:absolute;
    margin-top:-10px;
    margin-left:-20px;
}
.noteresp:hover {
   width:auto; height:auto;
   overflow:visible;
   z-index:5;
}
.choice {border:0px solid red;}
.reg {color:orange;}
.orig {}
.alternative {color:orange;}

.unclear { 
    border: 1px solid orange;
    border-top: none;
    border-left:none;
}
.unclear-fragezeichen { 
    vertical-align:super;
    color:orange;
    border:0px solid red;
}
.addition {color:blue;}   /* #b45f04 */
.gapinfo {color:#b45f04;}

.character-variant, character-oldradical {
    border-bottom:1px solid orange;
}

div.anatd{  
    display:block; 
} 
a.closeana{
    display:none;
    color:#610b0b;
    text-decoration:underline;
}
a.viewana{
    display:block;
    color:#610b0b;
    text-decoration:underline;
}
.anaarticle{
    display:none;
    border: 4px solid white;
}
a.viewana:hover, a.closeana:hover {color:#b45f04;}
.ana-box{
    border: 4px solid red;
    display:block;
    width:500px;
    height:10px;
}

.cwelcome ul {
	list-style-type:disc;	
	margin-left:60px;
}
.cwelcome ul  ul{
	list-style-type:circle;	
	margin-left:40px;
}
ul.submenu {
    list-style-type:none;	
    margin-top:0px;
    margin:10px 10px 5px 10px;
    height:60px;
}
ul.submenu li {
    float:left;
    width:168px;
    height:50px;
    margin: 0 2px 0 0;
    text-align:center;
    color:#76440C;
    border-radius: 10px;
    background: #FBEDC7;
    border:1px solid #FCEEB1;
}
ul.submenu li img{
  /*  width:120px;
    height:40px;
    border:1px solid #FCEEB1;
    display:block;
    margin-left:24px;
    background:#fff; */
    display:none;
}
ul.submenu li a{
    width:168px;
    height:40px;
    display:block;
    border:2px solid #F7BE81;
    border-radius: 10px;    
    margin: 0 2px 0 0;
    padding: 8px 0 0 0;
    text-decoration:none;
    font-size:15px;
    color:#410b0b;    
    line-height:16px;
    background:transparent;  /* #FEF8E0 */
}
ul.submenu li a:hover {
    background:#fff;
    border:2px solid orange;
    color:#220f05;
}
.submenudiv {
    border: none;
    height:430px;
    width:900px;
    overflow:auto;
}
li.submenu-active a {
    background:#fff;
}
.welcomefooter {
    height:40px;
    background-color:transparent;
    font-size:12px;
    line-height:14px;
    color:#76440C;
    text-align:center;
    margin-bottom:-10px;
}
.submenuimg1 {
   /*  margin-top:28px; */
   display:none;
}
.submenuimg2 {
    /* margin-top:12px; */
    display:none;
}
.content { 
    padding: 10px 10px 1px 60px;
    border:none;
    background: #FEF8E0;
    width:800px;
    height:416px;
}
.subsubmenu { 
    width:20px;
    float:left;
    margin-top:0px;
}
.subsubmenu li { 
    padding:0px;   
    margin:2px 0;
    width:100px;
    list-style-type:none;	
    margin-left:-110px;
}
.subsubmenu li a{ 
    background: #fbedc7;
    padding:4px 10px;
    width:90px;
    display:block;
    border:1px solid #FCEEB1;
    text-decoration:none;
}
.subsubmenu li a:hover{ 
    background-color:#fff;
}
.subsubcontents {
    border:1px solid #FCEEB1;
    background-color:#fff;
    margin: 2px 0 0px 62px;
    padding: 10px 20px 10px 20px;
    font-size:14px;
    line-height:20px;
    min-height:250px;
}
.subcontents {
    border:1px solid #FCEEB1;
    background-color:#fff;
    margin: 2px 0 0px -50px;
    padding: 10px 20px 10px 20px;
    font-size:14px;
    line-height:20px;
    min-height:250px;
}
li.subsubactive a {
    background-color:#fff;
    width:92px;
    border-right:#fff;
}
.step-photo {
    width:300px;
  /*  margin-left:50px; */
    float:right;
    margin-left:10px;
}
.subsubcontents p {
    margin-bottom:8px;
}
.subsubcontents h5 {
    margin-bottom:10px;
}
.subsubcontents ul {
    margin-left:10px;
}
.subcontents p {
    margin-bottom:6px;
}
.subcontents h5 {
    margin-bottom:8px;
    
}
.abstracttable {
    margin-top:4px;
}
.abstracttable td{
    border:2px solid #fff;
    background: #fff;
    text-align:center;
    font-size:12px;
}

.center table {
    margin-left:240px;
}