.L-block a:hover {	background:#fff;}

.cat-name { font-weight:bold; color:red }

a.cat-value-deep-link:hover,
a.entry-derect-link:hover{ color:blue; background-color:#fff; text-decoration:underline; }

tr.odd td {background-color:#ebebeb}

table td, table th { padding: 2px; /* cellpadding' equivalent */ }

table.browse-tbl {
	border-width: 0px;
	border-spacing: 2px;
	border-style: outset;
	border-color: gray;
	border-collapse: collapse ; /* separate */
/*	background-color: rgb(255, 245, 238);  */
}
table.browse-tbl th {
	border-width: 0px;
	padding: 2px;
	border-style: solid;
	border-color: white;
	/*background-color: white; */
	-moz-border-radius: 2px ;
}
table.browse-tbl td {
	border-width: 1px;
	padding: 2px;
	border-style: solid;
	border-color: #e8e8e8;
	/* background-color: white; */
	-moz-border-radius: 2px ;
}


.loadingIndicator{
    height: 20px;
	background: transparent url(loading-bars.gif) no-repeat center ;
}

.cat-toggle{ float:left; margin-top:2px; }

.cat-toggle.collapsed, .cat-toggle.expanded {
    background: transparent url(toggle-expand.png) no-repeat center ; 
    width:16px;
    height:16px;
    margin-right:3px;
    display:inline-block;
}

.cat-toggle.expanded {
    background: transparent url(toggle-collapse.png) no-repeat center ; 
}

span.cat-name { margin: 0 0.5em 0 0; float:left; line-height:16px; }

td.cat-container span.values, td.cat-container .br {  display:none !important }
td.cat-container.expanded span.values { display:inline !important } 
td.cat-container.expanded .br { display:block !important }

#browseForm { position:relative;}
#browseSubmit {position:absolute; right:20px; top:-48px;}

div.chzn-container ul.chzn-choices li.search-field {
   padding-left:10px !important;       
   margin-left:10px !important;
   background: transparent url(find.png) no-repeat left  !important ;
}

