table.metadata{
    border-collapse: separate;
	border-spacing: 2px;
	font-size:smaller;
	color:#391f04;  /* B45F04 8c4b06*/
}
table.metadata th, td { vertical-align: top; }

table.metadata th{ 
   text-align:right;
   vertical-align: top; 
   background-color: #fbedc7;
   width:250px;
   font-weight:normal;
   white-space:normal;
   color:#76440c;
}

table.metadata .label {   font-size:115%; }
table.metadata p { 
   margin-bottom:.5em;
   line-height:120%;
}

h2{ margin: 1em 0 .1em 0; font-size:130%; }

.person-listed .person {
    margin-left:0;
    margin-right:.35em
}

.textDesc { margin-bottom:.5em; border-bottom:solid 1px #ccc;}

.textDesc .typeName,
.textDesc .typeNameOther {font-weight:600}

.textDesc .typeValue,
.textDesc .typeValueOther {font-style: italic;  }

.metadatahead {color:#391f04;}